global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        log /var/log/haproxy.log local0
        #log loghost    local0 info
        maxconn 4096
        #chroot /usr/share/haproxy
        user haproxy
        group haproxy
        daemon
        #quiet
        stats socket /tmp/haproxy

defaults
        log global
        mode http
        option httplog
        option dontlognull
        retries 3
        option redispatch
        maxconn 2000
        contimeout 5000
        clitimeout 500000
        srvtimeout 500000

frontend rotating_proxies
  bind *:5577
  default_backend tor

backend tor
  balance roundrobin
